body {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}
.shadow {
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}
a:link { 
     text-decoration:none; 
} 
textarea:focus, input:focus, button:focus, select:focus, select::selection{
    outline: none;
}