<head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="static/flox.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/fontawesome/css/all.css">
    <link rel="stylesheet" href="static/notify/css/notify.css">
    <link rel="stylesheet" href="static/notify/css/prettify.css">
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/notify/js/notify.js"></script>
    <script type="text/javascript" src="static/notify/js/prettify.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="flox-bar flox-black">
    <a href="/">
        {{navbar_logo}}
        <div class="flox-bar-item" style="font-size: 16px;">{{navbar_title}}</div>
    </a>
</div><br><br>
<div style="padding-left:1em; width: 100%">
    <div style="max-width: 1000px; margin-left: auto; margin-right: auto; padding-left:-1em;" class="flox-round-xlarge flox-text-white">Last automatic check: {{lastcheck}}</div>
</div>
<div style="padding:1em;">
    <div style="max-width: 1000px; bottom: -10px; margin-left: auto; margin-right: auto;">
        {{services_list}}

<script>
    let base_checksum = "pending";
    function success() {
        var data = this.responseText; 
        if (base_checksum == "pending"){
            if (data == "disabled"){
                base_checksum = data;
                console.log("Autorefresh disabled");
                clearInterval(autorefresh);
            }
            base_checksum = data;
            console.log("Base_checksum set")
        }else{
            if (base_checksum != data){
                console.log("Status modifications change detected !");
                clearInterval(autorefresh);
                $.notify("&nbsp;&nbsp;<a class='flox-text-white' href=\"\">The status has been updated, click here to refresh the page.</a>", {blur: 0.0, align:"right", verticalAlign:"top", type: "info", icon:"exclamation", background: "#A5881B", close: true, delay:0});
            }else if (data == "false"){
                console.log("Stopping autorefresh");
                clearInterval(autorefresh);
            }
        }
        
    }
    function error(err) {
        console.log('Request to checksum Failed', err); 
        clearInterval(autorefresh);
        $.notify("&nbsp;&nbsp;<text class=\'flox-text-white\'>An error occurred while connecting to the server. Automatic updates are not available.</text>", {blur: 0.0, align:"right", verticalAlign:"top", type: "info", icon:"exclamation-triangle", background: "#ff0004", close: false, delay:0});
    }
    var xhr = new XMLHttpRequest();
    xhr.onload = success; 
    xhr.onerror = error;
    xhr.open('GET', '/getchecksum'); 
    xhr.send();
    let autorefresh = setInterval(() => {
        xhr.open('GET', '/getchecksum');
        xhr.send();
    }, /*{{autorefresh_delay}}*/)
</script>
{{admin_js}}
