<script>
    function changeMsg(uuid) {
        var saisie = prompt("New message for the service: ", "");
        if (saisie == null){
            saisie = "";
        }
        document.location.href="/admin/changemsg/"+uuid+"/"+encodeURI(saisie);
        console.log(uuid + ' - ' +saisie);
        return true;
    }
    function changeShowPing(uuid, actual) {
        if (actual == true){
            document.location.href="/admin/changeshowping/"+uuid+"/false";    
        }else{
            document.location.href="/admin/changeshowping/"+uuid+"/true";  
        }
        return true;
    }
    function deleteService(uuid){
        document.getElementById("link-confirm-delete").href = "/admin/deleteservice/"+uuid;
        document.getElementById('id02').style.display='block';
    }
    function changeMode(uuid, actual){
        document.getElementById("link-auto").href = "/admin/changemode/"+uuid+"/auto";
        document.getElementById("link-online").href = "/admin/changemode/"+uuid+"/force_online";
        document.getElementById("link-offline").href = "/admin/changemode/"+uuid+"/force_offline";
        document.getElementById("link-warning").href = "/admin/changemode/"+uuid+"/warn";
        document.getElementById("link-maint").href = "/admin/changemode/"+uuid+"/maintenance";
        document.getElementById('id01').style.display='block';
    }
    function openNewServiceModal(uuid){
        document.getElementById('title_new_modal').innerHTML = "New service"; 
        document.getElementById('uuid').value=uuid; 
        document.getElementById('id03').style.display='block'; 
        document.getElementById('name').value=""; 
        document.getElementById('group').value=""; 
        document.getElementById('probe').value="curl";
        document.getElementById('address').value="";
        document.getElementById('ip').value="";
        document.getElementById('fa-icon').value="fa fa-";
        changeAddForm();
    }
    function openChangeServiceModal(uuid, name, group, probe, ip, add, fa){
        document.getElementById('title_new_modal').innerHTML = "Service Settings"; 
        document.getElementById('uuid').value=uuid; 
        document.getElementById('name').value=name; 
        document.getElementById('group').value=group; 
        document.getElementById('probe').value=probe;
        document.getElementById('address').value=add
        document.getElementById('ip').value=ip
        document.getElementById('fa-icon').value=fa
        document.getElementById('id03').style.display='block'; 
        changeAddForm();
    }
    function openNewTokenModal(){
        document.getElementById('token').value=generateP(); 
        document.getElementById('id04').style.display='block'; 
    }
    function changeAddForm(){
        let value = document.getElementById("probe").value;
        if (value == "curl"){
            document.getElementById("case-ip").style.display = "none";
            document.getElementById("case-address").style.display = "block";
        }else if (value == "ping"){
            document.getElementById("case-ip").style.display = "block";
            document.getElementById("case-address").style.display = "none";
        }
    }
    function create_UUID(){
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (dt + Math.random()*16)%16 | 0;
            dt = Math.floor(dt/16);
            return (c=='x' ? r :(r&0x3|0x8)).toString(16);
        });
        return uuid;
    }
    function generateP() {
        var pass = '';
        var str = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' + 'abcdefghijklmnopqrstuvwxyz0123456789';
              
        for (i = 1; i <= 40; i++) {
            var char = Math.floor(Math.random() * str.length + 1);
            pass += str.charAt(char)
        }
              
        return pass;
    }

</script>
<div id="id01" class="flox-modal flox-round-xlarge">
    <div class="flox-modal-content flox-round-xlarge">
      <div class="flox-container flox-round-xlarge">
        <span onclick="document.getElementById('id01').style.display='none'" class="flox-button flox-display-topright flox-round-xlarge">&times;</span>
        <p><h2>New mode for the service :</h2></p>
        <p>
            <center>
                <a id="link-auto" href="#"><input id="btn-auto" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-teal flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Automatic"/></a>
                <a id="link-online" href="#"><input id="btn-online" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-green flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Force Online"/></a>
                <a id="link-offline" href="#"><input id="btn-offline" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-red flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Force Offline"/></a>
                <a id="link-warning" href="#"><input id="btn-warn" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-orange flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Warning"/></a>
                <a id="link-maint" href="#"><input id="btn-maint" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-blue flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Maintenance"/></a>
            </center>
        </p>
      </div>
    </div>
</div>
<div id="id02" class="flox-modal flox-round-xlarge">
    <div class="flox-modal-content flox-round-xlarge">
      <div class="flox-container flox-round-xlarge">
        <span onclick="document.getElementById('id02').style.display='none'" class="flox-button flox-display-topright flox-round-xlarge">&times;</span>
        <p><h2>Are you sure you want to delete this service?</h2></p>
        <p>
            <center>
                <a id="link-confirm-delete" href="#"><input id="btn-auto" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-red flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Delete"/></a>
                <a onclick="document.getElementById('id02').style.display='none'" href="#"><input id="btn-online" style="margin-top: 6px; margin-bottom: 6px;" class="flox-button flox-grey flox-round-xlarge w3-margin flox-text-white" type="submit" name="envoi" value="Cancel"/></a>
            </center>
        </p>
      </div>
    </div>
</div>
<div id="id03" class="flox-modal flox-round-xlarge">
    <div class="flox-modal-content flox-round-xlarge">
      <div class="flox-container flox-round-xlarge">
        <span onclick="document.getElementById('id03').style.display='none'" class="flox-button flox-display-topright flox-round-xlarge">&times;</span>
        <p><h2 id="title_new_modal">Nouveau Service</h2></p>
        <p>
            <form id="settings" method="post" action="/admin/createservice">
                <p>
                    <label class="flox-text-black" for="uuid">UUID :</label>
                    <input type="text" id="uuid" name="uuid" class="flox-input flox-round-xlarge flox-border" readonly required>
                </p>
                <p>
                    <label class="flox-text-black" for="name">Name :</label>
                    <input type="text" id="name" name="name" class="flox-input flox-round-xlarge flox-border" required>
                </p>
                <p>
                    <label class="flox-text-black" for="group">Group name :</label>
                    <input type="text" id="group" name="group" class="flox-input flox-round-xlarge flox-border" required>
                </p>
                <p>
                    <label class="flox-text-black" for="probe">Probe :</label>
                    <select class="flox-input flox-round-xlarge flox-border" onChange="changeAddForm()" name="probe" id="probe" required>
                        <option value="curl">Curl (http)</option>
                        <option value="ping">ICMP Ping</option>
                    </select>
                </p>
                <p id="case-ip">
                    <label class="flox-text-black" for="ip">IP Address :</label>
                    <input type="text" id="ip" name="ip" class="flox-input flox-round-xlarge flox-border">
                </p>
                <p id="case-address">
                    <label class="flox-text-black" for="address">HTTP Address :</label>
                    <input type="text" id="address" name="address" class="flox-input flox-round-xlarge flox-border">
                </p>
                <p>
                    <label class="flox-text-black" for="fa-icon">Font Awesome Icon :</label>
                    <input type="text" id="fa-icon" name="fa-icon" class="flox-input flox-round-xlarge flox-border" value="fa fa-" required>
                </p>
                <center><input class="flox-button flox-dark-grey flox-round-xlarge flox-center" type="submit" name="envoi" value="Save"/></center>
            </form>
        </p>
      </div>
    </div>
</div>
<div id="id04" class="flox-modal flox-round-xlarge">
    <div class="flox-modal-content flox-round-xlarge">
      <div class="flox-container flox-round-xlarge">
        <span onclick="document.getElementById('id04').style.display='none'" class="flox-button flox-display-topright flox-round-xlarge">&times;</span>
        <p><h2 id="title_new_modal">New API Token</h2></p>
        <p>
            <form id="settings" method="post" action="/admin/setnewapitoken">
                <p>
                    <label class="flox-text-black" for="token">New token :</label>
                    <input type="text" id="token" name="token" class="flox-input flox-round-xlarge flox-border" readonly>
                </p>
                <p>
                    Note: You will not be able to access this token afterwards, the validation of this one will make the previous token invalid.
                </p>
                <center><input class="flox-button flox-dark-grey flox-round-xlarge flox-center" type="submit" name="envoi" value="Save"/></center>
            </form>
        </p>
      </div>
    </div>
</div>
<div id="id05" class="flox-modal flox-round-xlarge">
    <div class="flox-modal-content flox-round-xlarge">
      <div class="flox-container flox-round-xlarge">
        <span onclick="document.getElementById('id05').style.display='none'" class="flox-button flox-display-topright flox-round-xlarge">&times;</span>
        <p><h2 id="title_new_modal">Change admin account</h2></p>
        <p>
            <form id="settings" method="post" action="/admin/setnewadmin">
                <p>
                    <label class="flox-text-black" for="token">Username :</label>
                    <input type="text" id="username" name="username" class="flox-input flox-round-xlarge flox-border" value="{{admin_user}}" required>
                </p>
                <p>
                    <label class="flox-text-black" for="token">Password :</label>
                    <input type="password" id="password" name="password" class="flox-input flox-round-xlarge flox-border" required>
                </p>
                <p>
                    Note: After validation of the new credentials, you will be immediately disconnected and will be invited to log in again.
                </p>
                <center><input class="flox-button flox-dark-grey flox-round-xlarge flox-center" type="submit" name="envoi" value="Save"/></center>
            </form>
        </p>
      </div>
    </div>
</div>
<br>


<div class="flox-center">
    <a href="/admin/advanced-settings" class="flox-center flox-text-white">Advanced settings</a> - <a href="#" onclick="openNewServiceModal(create_UUID())" class="flox-center flox-text-white">Create a new service</a> - <a href="#" onclick="openNewTokenModal()" class="flox-center flox-text-white">(Re)Generate an API key</a> - <a href="#" onclick="document.getElementById('id05').style.display='block'" class="flox-center flox-text-white">Change admin account</a>
</div>
