<head>
    <title>PaMS - Administration Panel</title>
    <link rel="stylesheet" href="/static/flox.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/notify/css/notify.css">
    <!--<link rel="stylesheet" href="/static/notify/css/prettify.css">-->
    <link rel="stylesheet" href="/static/codemirror/codemirror.css">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/notify/js/notify.js"></script>
    <script type="text/javascript" src="/static/notify/js/prettify.js"></script>
    <script type="text/javascript" src="/static/codemirror/codemirror.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<div class="flox-bar flox-black">
    <a href="/">
        <div class="flox-bar-item" style="font-size: 16px;">PaMS - Administration Panel</div>
    </a>
</div><br><br>

<br>
<div class="flox-center flox-text-white flox-text-aligh-middle"><font size=50px><i class="fa fa-users-cog"></i>&nbsp;Administration Panel</font></div>
<br>
<div style="padding:1em;">
<div style="max-width:1500px; margin-left: auto; margin-right: auto;">
	<style>
	.info {
		opacity: 0.8;
	}
	textarea {
  		resize: none;
	}
    .CodeMirror-linenumber{
        margin: 0px;
    }
	</style>

	<form id="settings" method="post" action="advanced-settings-set">
        <p><label class="flox-text-white flox-animate-zoom" for="services_settings">Services Settings :</label>
		<textarea id="services_settings" name="services_settings" class="flox-input flox-round-xlarge">{{services_json}}</textarea>
        <i><a href="#" class="flox-text-white" onclick="addNewService(create_UUID())">[New Service]</a></i>
		</p>
		<p>&nbsp;</p>
		<p><label class="flox-text-white flox-animate-zoom" for="services_settings">Worker Settings :</label>
		<textarea id="worker_settings" name="worker_settings" rows="20" cols="100" class="flox-input flox-round-xlarge">{{worker_json}}</textarea>
		</p>
        <p>&nbsp;</p>
		<p><label class="flox-text-white flox-animate-zoom" for="services_settings">Web Settings :</label>
		<textarea id="web_settings" name="web_settings" rows="20" cols="100" class="flox-input flox-round-xlarge">{{web_json}}</textarea>
		</p>
		<input type="text" id="action" name="action" value="true" hidden/>
	</form>
    <div style="text-align:center;"><input class="flox-button flox-white flox-round-xlarge flox-animate-bottom" onclick="checkjson()" type="submit" name="envoi" value="Save" /></div>
</div>
<script>
    var editor_services = CodeMirror.fromTextArea(document.getElementById('services_settings'), {
        lineNumbers: true,
        name: "html",
        height: "100%"
    });
    var editor_worker = CodeMirror.fromTextArea(document.getElementById('worker_settings'), {
        lineNumbers: true,
        name: "html",
        height: "100%"
    });
    var editor_web = CodeMirror.fromTextArea(document.getElementById('web_settings'), {
        lineNumbers: true,
        name: "html",
        height: "100%"
    });
    function checkjson(){
        document.getElementById("services_settings").value = editor_services.getValue();
        document.getElementById("worker_settings").value = editor_worker.getValue();
        document.getElementById("web_settings").value = editor_web.getValue();
        let can_continue = true;
        try {
            console.log(JSON.parse(document.getElementById("services_settings").value));
        }
        catch(err) {
            $.notify("&nbsp;&nbsp;<text class='flox-text-white' >Service Settings contain a syntax error</text>", {blur: 0.0, align:"right", verticalAlign:"top", type: "info", icon:"exclamation-triangle", background: "#ff0004", close: false, delay:0});
            can_continue = false;
        }

        try {
            console.log(JSON.parse(document.getElementById("worker_settings").value));
        }
        catch(err) {
            $.notify("&nbsp;&nbsp;<text class='flox-text-white' >Worker Settings contain a syntax error</text>", {blur: 0.0, align:"right", verticalAlign:"top", type: "info", icon:"exclamation-triangle", background: "#ff0004", close: false, delay:0});
            can_continue = false;
        }

        try {
            console.log(JSON.parse(document.getElementById("web_settings").value));
        }
        catch(err) {
            $.notify("&nbsp;&nbsp;<text class='flox-text-white' >Web Settings contain a syntax error</text>", {blur: 0.0, align:"right", verticalAlign:"top", type: "info", icon:"exclamation-triangle", background: "#ff0004", close: false, delay:0});
            can_continue = false;
        }
        if (can_continue){
          document.getElementById("settings").submit();  
        }  
    }

    function create_UUID(){
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (dt + Math.random()*16)%16 | 0;
            dt = Math.floor(dt/16);
            return (c=='x' ? r :(r&0x3|0x8)).toString(16);
        });
        return uuid;
    }
    function addNewService(tok){
        let actual = JSON.parse(editor_services.getValue());
        actual.services[tok] = new Object();

        actual.services[tok].name = prompt("Service Name:");
        if (actual.services[tok].name == null) return
        if (actual.services[tok].name == "") return

        actual.services[tok].probe = prompt("Probe:\nCurrently available: curl / ping").toString();
        if (actual.services[tok].probe == "curl"){
            actual.services[tok].address = prompt("Address:");
        }else if (actual.services[tok].probe == "ping"){
            actual.services[tok].ip = prompt("IP Address:");
        }else{
            return alert("Invalid Probe type !")
        }

        actual.services[tok].mode = "auto";
        actual.services[tok].show_ping = true;

        actual.services[tok].group = prompt("Group Name:");
        if (actual.services[tok].group == null) return
        if (actual.services[tok].group == "") return

        actual.services[tok].msg_txt = "";

        actual.services[tok].fa_icon = prompt("Font Awesome Icon:");
        if (actual.services[tok].fa_icon == null) return
        if (actual.services[tok].fa_icon == "") return

        editor_services.setValue(JSON.stringify(actual, null, 5))
    }
    
</script>
