<div style="padding:1em;">
    <div style="max-width: 1000px; bottom: -10px; margin-left: auto; margin-right: auto;" >

        <div class="flox-text-white">
                <div  class="flox-left-align">   
                <font size=5px>{{group_name}}</font>
                </div>
            </a>
        </div>

    </div>
</div>