<div style="padding:1em;">
    <div style="max-width: 1000px; margin-left: auto; margin-right: auto;" class="{{item_color}} flox-round-xlarge shadow ?>">

        <div class="flox-text-white flox-margin-left">
                <div style="padding-right:5px; padding-left:5px; padding-top:8px; padding-bottom:8px;" class="flox-left-align">
                <table style="width: 100%;">
                    <tr>
                        <td class="flox-mobile"><font size=5px class="flox-text-white"><i class="{{fa_icon}}"></i>&nbsp;{{item_name}}</font></td>
                        <td class="flox-mobile"><div class="flox-right-align flox-text-white">{{item_txt_right}}</div></td>
                    </tr>
                </table>
                    <font size=2px>{{item_txt}}</font>
                </div>

            </a>
        </div>

    </div>
</div>